<div class="container mt-5">
<div class="row">
    <div class="col-md-6 offset-3">
        <div class="card text-white bg-dark ml-5 border border-primary shadow" style="border-radius: 25px;">
            <div class="card-body">
                <form [formGroup]="postForm" (ngSubmit)="post2()"> 
                    <div class="form-group">
                      <input 
                      type="text" 
                      class="form-control" 
                      formControlName="title"
                      placeholder="Titulo.."
                      [class.is-invalid]="titleValidate">
                    </div>
                    <div class="form-group">
                      <textarea type="text"
                       class="form-control"
                        formControlName="body"
                         placeholder="Descripción.."
                         [class.is-invalid]="bodyValidate"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-info">Publicar</button>
                    </div>
                  </form>
            </div>
          </div>
        
    </div>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
              <div class="mt-5 custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1" (click)="ocultarinfo()">
                <label class="custom-control-label" for="customSwitch1">Mostrar Publicaciones</label>
              </div>
    </div>
  </div>
</div>

              

<div class="container mt-5" [ngClass]="{'d-none': bandera2 == false}">
    <div class="row">
        <div class="col-md-4" *ngFor="let post of posts2; let i = index">
        <div class="card text-white bg-dark mt-5 mb-5 border border-info shadow" style="border-radius: 25px;">
            <div class="card-body">

              <div class="row">
                <div class="col">
                  <h4 class="card-title" id="user" [innerHTML]="post.user"></h4>
                </div>
                <div class="col">
                  <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" *ngIf="post.user==this.user" style="font-size: 20px; margin-top: -5px; margin-left: 120px;" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                      <a class="dropdown-item" (click)="mostrarpost(i)" style="cursor: pointer;">Editar</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" (click)="borrarPost(i)" style="cursor: pointer;">Eliminar</a>
                    </div>
                  </div>
                </div>
              </div>
              <hr style="padding: 0.5px; background-color: gray;">

            <b> <p class="text-dark bg-light card-text mb-3 mt-5" style="text-transform: uppercase;" [innerHTML]="post.title"></p></b>
              <p class="card-text mb-5" id="body" [innerHTML]="post.body"></p>


              <a type="button" class="card-link mb-3" (click)="mostrarModalInfo(i)">Ver comentarios</a>
              <hr style="padding: 0.5px; background-color: gray;">

                <div class="form-group" >
                  <button type="button"  class="btn btn-info mt-4" (click)="mostrarModalInfo4(i)" *ngIf="post.id>0">Comentar</button>
              </div>
            </div>
            </div>
          </div>
    </div>
</div>


<ng-template #myModalInfo let-modal>
 
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Comentarios</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      

               <div class="card text-white bg-dark mb-3" *ngFor="let comm of comments; let j = index">
                    <div class="card-body" >

                      <div class="row">
                        <div class="col">
                          <h4 class="card-title" id="user" [innerHTML]="comm.user"></h4>
                          
                        </div>
                        <div class="col">
                          <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" *ngIf="comm.user==this.user" style="font-size: 20px; margin-top: -5px; margin-left: 220px;" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                              <a class="dropdown-item" (click)="mostrarcomentario(j)" style="cursor: pointer;">Editar</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" (click)="borrarComentario(j)" style="cursor: pointer;">Eliminar</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr style="padding: 0.5px; background-color: gray;">
                      <p [innerHTML]="comm.body"></p>
                        
                    </div>
                  </div>
                  


    </div>
  </div>
  
 
</ng-template>

<ng-template #myModalInfo4 let-modal>
 
  <div class="modal-content" >
    <div class="modal-header">
      <h5 class="modal-title">Realiza un comentario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" > 
      <form #f2="ngForm" (ngSubmit)='crearComentario(f2)'> 
        <div class="form-group" >
          <input 
          type="text" 
          class="form-control" 
          name="bodyC"
          #bodyC="ngModel"
          [(ngModel)] = "comment.body"
          placeholder="Comenta aquí.."
          >
        </div>
        <div class="form-group" >
          <button type="submit"  class="btn btn-info">Comentar</button>
      </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #myModalInfo2 let-modal>
 
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Editar Publicación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <form #f3="ngForm" (ngSubmit)='actualizarpost(f3)'>
        <input 
        type="text" 
        class="form-control" 
        id="title"
        name="title"
        #title="ngModel"
        [(ngModel)] = "post.title"
        placeholder="Titulo.."
        required>
        <br>
        <input type="text"
         class="form-control"
          id="body"
          name="body"
          #body="ngModel"
          [(ngModel)] = "post.body"
          placeholder="Descripción.."
           required>
        <br>
        <button type="submit"  class="btn btn-info">Editar</button>
        </form>
    </div>
  </div>
</ng-template>


<ng-template #myModalInfo3 let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Editar Comentario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <form #f4="ngForm" (ngSubmit)='actualizarcomment(f4)'>
        <input type="text"
         class="form-control"
          id="body"
          name="body"
          #body="ngModel"
          [(ngModel)] = "post.body"
           required>
           <br>
        <button type="submit"  class="btn btn-info">Editar</button>
        </form>
    </div>
  </div>
  
 
</ng-template>

