<div class="container">
  <div class="row">
    <div class="col">
              <div class="mt-5 custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1" (click)="ocultarinfo()">
                <label class="custom-control-label" for="customSwitch1">Mostrar Publicaciones</label>
              </div>
    </div>
  </div>
</div>
              

<div class="container mt-5" [ngClass]="{'d-none': bandera2 == false}">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
        <div class="card text-white bg-dark mt-5 mb-5" style="width: 18rem;" *ngFor="let post of posts">
            <div class="card-body">
              <h5 class="card-title" [innerHTML]="post.title"></h5>
              <p class="card-text" [innerHTML]="post.body"></p>
            </div>
            </div>
          </div>
    </div>
</div>

