<div class="background text-center">
  <div class="card shadow" style="width: 350px; border-radius: 20px;">
    <form
    class="form-signin animated fadeIn"
    autocomplete="on"
    [formGroup]="loginForm"
    (ngSubmit)="login()"
  >
    <img class="mb-4 img" src="assets/logo.png" alt="logo" />
    <h1 class="h3 mb-3 font-weight-normal">Iniciar sesion</h1>
    <label class="sr-only" for="inputEmail">Correo electronico</label>
    <input
      type="email"
      class="form-control mb-2"
      id="inputEmail"
      placeholder="Correo electronico"
      formControlName="email"
      [class.is-invalid]="emailValidate"
    />
    <label class="sr-only" for="inputPassword">Contraseña</label>
    <input
      type="password"
      class="form-control mb-3"
      id="inputPassword"
      placeholder="Contraseña"
      formControlName="password"
      [class.is-invalid]="passwordValidate"

    />
    <button type="submit" class="btn btn-lg btn-primary btn-block mb-2">
      Iniciar sesion
    </button>
    No tienes una cuenta.<a [routerLink]="['/register']"> Registrate aquí</a>
  </form>
  </div>
  </div>